<div class="flex flex-col items-center gap-4 py-5 min-h-screen justify-center">
  <div class="flex gap-2">
    <h1 class="text-xl sm:text-2xl lg:text-3xl font-bold text-red-700">
      Knew you would say yes!
    </h1>
    <div class="text-center self-center" style="width: 35px; height: 35px">
      <app-animated-icon [iconPath]="heartIcon"></app-animated-icon>
    </div>
  </div>

  <div style="width: 500px; height: 500px">
    <app-animated-icon [iconPath]="loveIcon"></app-animated-icon>
  </div>
</div>
