<div class="flex flex-col items-center gap-4 py-5 min-h-screen justify-center">
  <h1 class="text-xl sm:text-2xl lg:text-3xl font-bold text-red-700">
    Will you be my valentine ?
  </h1>
  <div class="flex gap-2 justify-center w-full">
    <button
      class="border-1 rounded p-1 sm:p-2 bg-green-500 border-green-500 text-white cursor-pointer shadow-lg"
      routerLink="/love"
    >
      <p id="yes-text" class="text-[16px]">Yes</p>
    </button>
    <div class="self-center">
      <button
        id="no-button"
        (click)="onNoButtonClick()"
        class="border-1 rounded p-1 sm:p-2 bg-red-500 border-red-500 text-white cursor-pointer shadow-lg"
      >
        {{ label }}
      </button>
    </div>
  </div>
  <div style="width: 500px; height: 500px">
    <app-animated-icon [iconPath]="homeIcon"></app-animated-icon>
  </div>
</div>
